  .login-card {
    margin: auto;
    top: 20vh;
  }

  .login-container {
    width: fit-content;
    margin: auto;
  }

  .margin-bot {
    margin-bottom: 20px;
  }

  .fullwidth {
    width: 100%;
  }
